<!DOCTYPE html>
<html>
<head>
  <title>WebpackYarn</title>
  <%= stylesheet_link_tag    fingerprinted_asset('application'), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag fingerprinted_asset('application'), 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
